<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!--<link href="css/style.css" rel="stylesheet">-->
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
.escondido {
    display: none;
}
        </style>
    </head>
    <body class="min-h-screen">
        <input type="hidden" id="idcanal" value="{{ .canal.Id}}">
        <input type="hidden" id="idusuario" value="{{ .usuario.Id}}">
        <div class="flex flex-col h-screen">
            <h1 class="text-lg">Sala: {{ .canal.Nome}}</h1>
            <div class="h-5/6 flex-shrink-0">
                <div class="p-2 pb-24">
                    <div class="flex flex-col shadow-inner bg-slate-100 p-4 rounded-md h-full" id="chatcontainer">
                        <div id="chat" class="flex flex-col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-1/6 flex-shrink-0">
                <div id="chatbotoes" class="fixed bottom-0 left-0 w-full flex p-1 bg-white shadow-inner">
                    <input class="border-slate-900 border-2 shadow-md p-1 rounded-md" id="input" type="text" name="texto" value="" placeholder="Digite...">
                    <div class="ml-1 mt-1 space-x-2">
                        <button class="text-white rounded-md p-1 bg-slate-900" id="botao" type="button">Enviar</button>
                        <button class="text-white rounded-md p-1 bg-slate-900" type="button" onclick="document.getElementById('chat').innerHTML = ''">Limpar</button>
                        <button class="text-white rounded-md p-1 bg-slate-900" id="conectar" type="" name="" value="conectar">Conectar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/public/scripts/chat.js"></script>
    </body>
</html>
