<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eventos</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="/public/styles/sse.css">
    </head>
    <body>
        <input type="hidden" id="idusuario" value="{{ .idusuario }}">
        <div id="chat-maincontainer" class=" flex w-screen h-screen">
            <div id="chat-salas" class="w-1/5 border-2 flex flex-col overflow-y-auto overflow-x-hidden h-full">
                <div id="entrar-sala" class="item-card-api rounded flex jusitfy-center items-center">
                    <input type="text" class="w-3/4 borda h-[60%] rounded-md border-2 border-gray-500 mx-1" id="entrar-sala-valor">
                    <button class="w-1/4 borda h-[60%] bg-gray-500 text-white rounded-md" id="entrar-sala-botao" type="submit">Entrar</button>
                </div>
            </div>
            <div id="chat-salaaberta" class="flex-1 border-2 flex flex-col p-2">
                <div id="titulo-janela-chat-aberta" class="flex-shrink-0 h-[10%] border-b border-gray-300">Nome sala</div>
                <div id="chat-aberto-mensagens" class="flex-1 flex flex-col">
                </div>
                <div id="chat-inputs" class="flex-shrink-0 h-[10%] flex border-t border-gray-300">
                    <div id="chat-text-input" class="w-[80%] flex justify-center items-center">
                        <input type="text" class="w-full shadow-md border-gray-400 border-2 rounded h-[50%]" name="text-send-message" value="">
                    </div>
                    <div id="chat-botoes" class="w-[20%] justify-center items-center flex">
                        <button id="enviar-msg-botao" class="flex w-[90%] h-[90%] justify-center items-center rounded borda bg-gray-400" type="button">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/public/scripts/sse.js"></script>
    </body>
</html>
